.nav {
    height: 10%;
    width: 100%;
    background: var(--white);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2rem;
}

.nav-logo {
    height: 100%;
}