


.user {
    display: flex;
    height: 80%;
    width: 100%;
    background: var(--beige);
    justify-content: center;
    gap: 4rem;
    position: relative;
}

.hero-flowers {
height: 100%;

}
.window {
    width:60%;
    aspect-ratio: 7/5;
    background: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.windowsill {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1.5rem;
}
.friend-list {
    display: flex;
    width: 100%;
position: absolute;
bottom: 15%;
}

.friend-menu {
    display: flex;
    justify-content: space-around;
}

.btn-user {
    background: #c58c3b;
    color: white;
    box-shadow: 0 1px 6px rgba(45, 32, 32, 0.9);
    text-transform: lowercase;
    font-family: 'Courier Prime';
    font-weight: 400;
    font-size: 1.2rem;
    width: 23%;
    margin-bottom: 2rem;
}